@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #94b49f, #cee5d0, #fcf8e8, #ecb390);
}
body .movie-content {
  width: 75%;
  height: auto;
}
body h1 {
  color: #94b49f;
}
body .change {
  background-color: yellow;
  padding: 10px;
}
body .autoprefixer {
  user-select: none;
}

.button-secondary {
  position: relative;
  padding: 9px 21px;
  background: #fcf8e8; /*Kolor tła */
  border-radius: 6px;
  color: #94b49f; /* Biały kolor tekstu */
  border: none;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: transform 0.2s ease;
  box-shadow: 0 5px rgba(0, 0, 0, 0.1);
}