body {
  font-family: 'Roboto', sans-serif;
$color1: #FED8F7;
$color2: #FFCFFB;
$color3: #FFFFFC;
$color4: #DDE8FF;
$color5: #C4DDFE;

background: linear-gradient(to bottom, $color1, $color2, $color3, $color4, $color5);

  h1 {
    color: blueviolet;
  }
  .change {
    background-color: yellow;
    padding: 10px;
  }
  .autoprefixer {
    user-select: none;
  }
}

/* Dodatkowe niestandardowe style */
.login-form-container {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background-color: #f8f9fa;
  transition: right 0.3s ease; 

  &.show {
    right: 0;
  }
}
