@charset "UTF-8";
body {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #94b49f, #cee5d0, #fcf8e8, #ecb390);
}
body .movie-content {
  width: 75%;
  height: auto;
}
body h1 {
  color: #94b49f;
}
body .change {
  background-color: #ecb390;
  padding: 10px;
}
.h1-style {
  font-size: 4vw;
  /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
  color: transparent;
  -webkit-text-stroke: 3px #94b49f;
  position: relative;
}
.h1-style::before {
  content: "Top 10 highest-rated series";
  position: absolute;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: black;
  border-right: 8px solid #ecb390;
  transition: width 1s ease-in-out;
}
.h1-style:hover::before {
  width: 100%;
  filter: drop-shadow(0 0 25px #94b49f);
}
body .autoprefixer {
  user-select: none;
}
.navbar-collapse {
  transition: all 0.5s; /* Dodanie animacji do rozwijania się nawigacji */
}
.navbar-toggler:focus {
  box-shadow: none; /* Włączenie cienia po kliknięciu na przycisku togglera */
}
@media screen and (min-width:992px){
  .navbar {
    padding: 0;
  }
  .navbar .navbar-nav .nav-link {
    padding: 1em;
  }
  .navbar .navbar-nav .nav-item {
    margin: 0 1em;
  }
}
.navbar .navbar-nav .nav-item {
  position: relative;
}
.navbar .navbar-nav .nav-item::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin:0 auto;
  content: "";
  background-color: #cee5d0;
  width: 0; /* Początkowo szerokość wynosi 0, aby nie było widoczne */
  height: 4px; /* Wysokość paska */
  transition: width 0.3s ease; /* Dodanie animacji */
}
.navbar .navbar-nav .nav-item:hover::after {
  width: 100%; /* Po najechaniu myszą szerokość zmienia się na 100% */
}
.input-group{
  display: flex;
  justify-content: center;
  position: relative;
  min-width:  250px;
  height: 50px;
}
.form-select{
  border: none;
  appearance: none;
  padding: 0 30px 0 15px;
  width: 100%;
  background-color:#94b49f ;
}
@media screen and (max-width: 768px) {
  .input-group {
    min-width: 200px;
    height: 40px;
  }
  .form-select {
    padding: 0 20px 0 10px;
  }
}
@media screen and (max-width: 576px) {
  .input-group {
    min-width: 150px;
    height: 40px;
  }
  .form-select {
    padding: 0 15px 0 10px;
  }
}
.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 50px;
  width: 50px;
  outline: #fcf8e8;
  background-color: #ecb390;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid #fcf8e8;
}